<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h2>The total no of users are: <%= count %> </h2>
    <h2>Join Us Today!!</h2>
    <form action="/user" method="post">
        <input type="email" name="email" placeholder="enter your email"> 
        <input type="password" name="password" placeholder="enter your password"> 
        <input type="text" name="username" placeholder="enter your username"> 
        <button>Submit</button>
    </form>
    
</body>
</html> 